@tailwind base;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

@media (min-width: 1600px) {
  body {
  font-size: 14px;
  }
}

img, video {
  max-width: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    overflow: auto;
    display: flex;
    z-index: 40;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    -ms-overflow-style: none;
    background: #fff;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.afterOpen {
  opacity: 1;
}

.beforeClose {
  opacity: 0;
}

@keyframes scrolling {
  0% {top: 1em; opacity: 1}
  80% {top: 2.5em; opacity: 1}
  100% {top: 2.5em; opacity: 0}
}

/* The element to apply the animation to */
.scroll-animation {
  animation-name: scrolling;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

.scrollbar-dark {
scrollbar-color: gray transparent; 
}

.scrollbar-dark::-webkit-scrollbar{
  height: 1em;
  background-color: transparent;
}

.scrollbar-dark::-webkit-scrollbar-thumb{
  background-color: lightgray;
}

.scrollbar-light::-webkit-scrollbar{
  height: 1em;
  background-color: transparent;
}

.scrollbar-light::-webkit-scrollbar-thumb{
  background-color: gray;
}


.scrollbar-light {
  scrollbar-color: lightgray transparent;
}

@tailwind components;
@tailwind utilities;
